@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes opacityAppear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.project-description {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

:root {
  --map-tiles-filter: brightness(0.75) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

.map-tiles {
    filter: var(--map-tiles-filter, none);
}

#pielegend {
  font-weight: bold;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  /* line-height: 2em; */
  font-size: 1.2rem;
  flex-direction: column;
}

* {
  font-family: monospace;
}

.legend {
  line-height: 18px;
  color: #555;
  display: flex;
  flex-direction: column;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}


.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  color: black;}

.info > div {
  color: black;
}

.info h4 {
  margin: 0 0 5px;
  color: #333;
}

.map-container {
  flex: 6;
}


#map {
  height: 80vh;
  width: 100%;
  border-radius: 12px;
}


body {
  background-color: #1A2733;
  font-family: "Arial";
  padding: 8em;
  padding-top: 2em;
}

.header-section {
  flex: 1; text-align: justify;
  border: 2px solid white;
  border-radius: 10px;
  padding: 1em;
}

.header-section > div {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

h1, h2 {
  text-align: center;
  color: white;
  /* line-height: 30%; */
}

p, label, legend, div {
  color: white;
}

.opacity-anim {
  animation: 2s ease-in 0s 1 opacityAppear;
}

.first-screen {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
}

.left-map {
  flex: 6;
}

.left-map > img {
  width: 100%;
}

.right-col {
  flex: 2;
  padding-left: 20px;
  padding-right: 20px;
}

.supply-stickmen {
  display: flex;
  gap: 10px;
}

.supply-stickman > img {
  width: 50%;
}

.supply-stickman {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 10px;
}

.total-supply > img {
  width: 100%;
}

#current_year {
  text-align: center;
  font-weight: bolder;
  font-size: 1.7rem;
  margin-top: 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: #FAFAFA;
  outline: none;
  /* opacity: 0.7; */
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #BD0026;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.scs-first {
  margin-top: 3em;
  display: flex;
  flex-direction: row;
}

.scsf-left {
  flex: 4;
  text-align: center;
}

.scsf-left > img {
  width: 50%;
}

.scsf-right {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4em;
  text-align: center;

}

.scs-second {
  display: flex;
  flex-direction: row;
}

.scss-left {
  flex: 2;
}

.scss-right {
  flex: 4;
  text-align: center;

}

.scss-right > img {
  width: 50%;
}


 .piesection {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-content {
  width: fit-content;
  background-color: black;;
}

.modal-body {
  padding: 2em;

}

.close {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
}

.modal-title {
  font-weight: bold;
}

.axisWhite line {
  stroke: white;
}

.axisWhite path {
  stroke: white;
}

.axisWhite text {fill: white;}

.rotated_label {
  transform: translateY(38px) rotate(-65deg) ;
  
  /* transform: translateY(100) */
}


#types_of_food_legend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5em;
  margin-top: -2.75em;
}

#types_of_food_legend .pastille {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  /* background-color: red; */
}

#types_of_food_legend .legend_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pastille_feed {
  background-color: orange;
}

.pastille_food {
  background-color: red;
}
.chart rect:first-of-type {
  color: #fff;
  fill: white;
}

.chart rect:nth-of-type(2) {
  color: #fff;
  stroke: transparent;
  fill: red;
}

legend {
  font-weight: bold;
}

ol {
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 20px;
}

.ac_val {
  font-size: 3.5rem;
  font-weight: bolder;
}

.ac_label {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -20px;
  margin-bottom: 5px;
}

.ac_title {
  opacity: 0.75;
  font-size: 0.8rem;
}

.counter {
  text-align: center;
}

.header-counters {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 3em;;
}